
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

h1, .brand-text {
  color: $brand-primary;
}

a, a:focus, a:hover {
    text-decoration: none;
    color: $text-color;
}

input[type="text"] {
  font-size: 16px;
}